<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset="UTF-8">
        <title>Frequência</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div>
            <h1>Frequencia das palavra</h1>
            <form action="/calcular" method="POST">
                <textarea name="texto" class="caixa" placeholder="Texto..."></textarea>
                <input name="palavra" type="text" placeholder="Palavra" class="in1">
                <div class="botoes">
                    <button type="submit" class="btn_1">Submit</button>  
                    <input type="submit" value="Reset" name="action2" class="btn_1">
                </div>
            </form>
            <textarea disabled class="caixa_resposta">{{ novo }}</textarea>     
            
        </div> 
    </body>
</html>